.arptemplate_100 {
    zoom: 1;
    margin: 0 auto;
}

.arptemplate_100  .white-row {
    background:#eceef0;
    padding-top:10px;
}

.arptemplate_100 .last-child{
    margin-right:0px !important;
}

.arptemplate_100 #ArpPricingTableColumns .maincaptioncolumn {
    float: left;
    width: 100%;
    text-align: left;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper,
.arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper{
    float:left;
    padding:0 !important;
    position:relative;
    text-align:center;
    line-height:normal;
    transition:all 0.2s linear 0s;
    -webkit-transition:all 0.2s linear 0s;
    -moz-transition:all 0.2s linear 0s;
    -o-transition:all 0.2s linear 0s;
    border-radius:0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -o-border-radius:0px;
}

.arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper.no_transition{
    background: none;
    float: left;
    text-align: center;
    margin-bottom:40px;
    padding:0 !important;
    line-height:1.5;
    transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -ms-transition:all 0.5s;
    border-radius:0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -o-border-radius:0px;

}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arpplan,
.arptemplate_100 .arpplan{ 
    float:left; 
    border-radius:0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -o-border-radius:0px;

}


#ArpTemplate_main.arp_front_main_container .arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper:not(.no_transition) .arpplan:before,
.arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper:not(.no_transition) .arpplan:before{
    background: none;
    content: "";
    height: 23px;
    left: 0;
    margin-top: 2px;
    opacity: 0.4;
    position: absolute;
    top: 100%;
    width: 100%;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper:not(.no_transition) .arpplan,
.arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper:not(.no_transition) .arpplan{
    float:left;
    box-sizing:border-box !important;
    -webkit-box-sizing:border-box !important;
    -moz-box-sizing:border-box !important;
    -o-box-sizing:border-box !important;
    margin-bottom: -20px;
    position: relative;
    text-align: center;
    top: 20px;
    border-radius:0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -o-border-radius:0px;
    transition: margin-top 0.2s linear 0s, top 0.2s linear 0s, box-shadow 0.2s linear 0s;
    -webkit-transition: margin-top 0.2s linear 0s, top 0.2s linear 0s, box-shadow 0.2s linear 0s;
    -moz-transition: margin-top 0.2s linear 0s, top 0.2s linear 0s, box-shadow 0.2s linear 0s;
    -o-transition: margin-top 0.2s linear 0s, top 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper img,
.arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper img{
    background:none;
    border:none;
    display:inline;
    padding:0;
    vertical-align:inherit !important;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;  	
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arppricetablecolumnprice.style_2,
.arptemplate_100 .arppricetablecolumnprice.style_2{
    float:left;
    width:100%;
    height:90px;
    padding-top:10px;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arpcolumnheader:not(.has_arp_shortcode),
.arptemplate_100 .arpcolumnheader:not(.has_arp_shortcode) {
    width:100%;
    float:left;
    min-height:280px;
    height:auto;
    border-radius:0px 0px 0 0;
    -moz-border-radius:0px 0px 0 0;
    -webkit-border-radius:0px 0px 0 0;
    -o-border-radius:0px 0px 0 0;

}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arpcolumnheader.has_arp_shortcode,
.arptemplate_100 .arpcolumnheader.has_arp_shortcode{
    float:left;
    width:100%;
    height:auto;
    min-height:280px;
    border-radius:0px 0px 0 0;
    -moz-border-radius:0px 0px 0 0;
    -webkit-border-radius:0px 0px 0 0;
    -o-border-radius:0px 0px 0 0;

}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arppricingtablebodycontent,
.arptemplate_100 .arppricingtablebodycontent{
    width:100%;
    float:left;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arpcolumnfooter,
.arptemplate_100 .arpcolumnfooter{
    width:100%;
    float:left;
    height:90px;
    padding:20px 0 0 0;
    border-radius:0 0 0px 0px;
    -moz-border-radius:0 0 0px 0px;
    -webkit-border-radius:0 0 0px 0px;
    -o-border-radius:0 0 0px 0px;
    transition:all 0.2s linear 0s;
    -moz-transition:all 0.2s linear 0s;
    -webkit-transition:all 0.2s linear 0s;
    -o-transition:all 0.2s linear 0s;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arpcolumnfooter.has_footer_content,
.arptemplate_100 .arpcolumnfooter.has_footer_content{
    padding:30px 0 0;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .maincaptioncolumn .arpcaptiontitle,
.arptemplate_100 .maincaptioncolumn .arpcaptiontitle{
    height:121px;
    line-height:normal;
    padding-top:39px;
    padding-left:3%;
    margin:0 0 10px 0;
    background:#ffffff;
    overflow:hidden;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arppricetablecolumntitle,
.arptemplate_100 .arppricetablecolumntitle{
    min-height:63px;
    display: table;
    width:100%;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arppricetablecolumntitle .bestPlanTitle,
.arptemplate_100 .arppricetablecolumntitle .bestPlanTitle{
    margin: 0;
    line-height:normal !important;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arppricetablecolumntitle .bestPlanTitle.toggle_selected,
.arptemplate_100 .arppricetablecolumntitle .bestPlanTitle.toggle_selected{
    display:table-cell;
    vertical-align: middle;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arp_price_wrapper,
.arptemplate_100 .arp_price_wrapper{
    float:none;
    width:100%;
    display:table;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arp_price_wrapper .toggle_selected,
.arptemplate_100 .arp_price_wrapper .toggle_selected{
    display: table-cell;
    width:100%;
    vertical-align: middle;
}


#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arp_price_value,
.arptemplate_100 .arp_price_value{
    text-align:inherit;
    float:left;
    width:100%;
    min-height:55px;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arp_price_duration,
.arptemplate_100 .arp_price_duration{
    float:left;
    width:100%;
    line-height:normal;
}

.arptemplate_100 .arppricetablecolumnprice.caption{
    height:160px;
    line-height:normal;
    background:#ffffff;
    clear:both;
    border-bottom:2px solid #dfdfdf;
    color:#666666 !important;
    font-size:22px;
    font-weight:bold;
    font-family:'Open Sans Bold',Arial, Helvetica;
    padding-top:25px;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arppricetablecolumnprice .custom_ribbon,
.arptemplate_100 .arppricetablecolumnprice .custom_ribbon{
    float:left;
    width:96%;
    font-family:'Open Sans Bold',Arial, Helvetica, sans-serif;
    font-size:16px;
    text-align:left;
}

.arptemplate_100 .arppricetablecolumnprice .column_desc{
    float:left;
    width:96%;
    font-family:'Open Sans',Arial, Helvetica, sans-serif;
    font-size:10px;
    text-align:left;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .planContainer .arppricingtablebodyoptions,
.arptemplate_100 .planContainer .arppricingtablebodyoptions {
    float:left;
    width:100%;
    padding-bottom:20px !important;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .planContainer .arppricingtablebodyoptions li,
.arptemplate_100 .planContainer .arppricingtablebodyoptions li {
    float:left;
    width:100%;
    line-height:1.5;
    padding:0 10px;
    margin:0 !important;
    display:table;
    height:auto;
    min-height: 35px;
}

.arptemplate_100 .planContainer .arppricingtablebodyoptions li span.caption_li{
    float:left;
    width:100%;
    position:relative;
    top:5px;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arppricingtablebodyoptions li span.arp_tooltip,
.arptemplate_100 .arppricingtablebodyoptions li span.arp_tooltip{
    border:none;
}

.arptemplate_100 .planContainer .arppricingtablebodyoptions li span.caption_detail{
    float:left;
    width:100%;
    position:relative;
    bottom:5px;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .maincaptioncolumn .arppricetablebutton,
.arptemplate_100 .maincaptioncolumn .arppricetablebutton{
    display: inline-block;
    height:97px;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arppricetablebutton .bestPlanButton,
.arptemplate_100 .arppricetablebutton .bestPlanButton {
    line-height: normal;
    padding:0px;
    background: #ffffff;
    cursor:pointer !important;
    position:relative;
    box-sizing:border-box !important;
    -webkit-box-sizing:border-box !important;
    -moz-box-sizing:border-box !important;
    -o-box-sizing:border-box !important;
}

.arptemplate_100 .arppricetablebutton .bestPlanButton.arp_small_btn{
    min-height:38px !important;
    height:auto;
    width:60% !important;
}

:-o-prefocus, .arptemplate_100 .arppricetablebutton .bestPlanButton.arp_small_btn{
    line-height:38px !important;
}

.arptemplate_100 .arppricetablebutton .bestPlanButton.arp_medium_btn{
    min-height: 48px !important;
    height:auto;
    width:65% !important;
}

:-o-prefocus, .arptemplate_100 .arppricetablebutton .bestPlanButton.arp_medium_btn{
    line-height:48px !important;
}

.arptemplate_100 .arppricetablebutton .bestPlanButton.arp_large_btn{
    min-height:52px !important;
    height:auto;
    width:70% !important;
}

:-o-prefocus, .arptemplate_100 .arppricetablebutton .bestPlanButton.arp_large_btn{
    line-height:52px !important;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arp_header_shortcode img,
.arptemplate_100 .arp_header_shortcode img{
    position:relative;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;	
    top:25%;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corner_wrapper,
.arptemplate_100 .rounded_corner_wrapper{
    float:none;
    display:inline-block;
    text-align:center;
    margin:15px auto 0;
}


#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder div,
.arptemplate_100 .rounded_corder div{
    margin: 0;
    padding: 0;
}
#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.arp_semiround_shortcode.small *,
.arptemplate_100 .rounded_corder.arp_semiround_shortcode.small *,
#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.arp_semiround_shortcode_solid.small *,
.arptemplate_100 .rounded_corder.arp_semiround_shortcode_solid.small *{
    border-radius:24px;
    -moz-border-radius:24px;
    -webkit-border-radius:24px;
    -o-border-radius:24px;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.arp_semiround_shortcode.medium *,
.arptemplate_100 .rounded_corder.arp_semiround_shortcode.medium *,
#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.arp_semiround_shortcode_solid.medium *,
.arptemplate_100 .rounded_corder.arp_semiround_shortcode_solid.medium *{
    border-radius:30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -o-border-radius:30px;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.arp_semiround_shortcode.large *,
.arptemplate_100 .rounded_corder.arp_semiround_shortcode.large *,
#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.arp_semiround_shortcode_solid.large *,
.arptemplate_100 .rounded_corder.arp_semiround_shortcode_solid.large *{
    border-radius:40px;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    -o-border-radius:40px;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder,
.arptemplate_100 .rounded_corder {
    border-width: 2px;
    border-style: solid;
    vertical-align:middle;
    display:table-cell;
    float: none;
    margin: 15px auto 0;
    padding:0px;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder i,
.arptemplate_100 .rounded_corder i{
    position:relative;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .maincaptioncolumn .arpcaptiontitle,
.arptemplate_100 .maincaptioncolumn .arpcaptiontitle {
    color: #E3E3E3 !important;
}

.arptemplate_100 .arppricetablecolumntitle.caption{
    float:left;
    width:100%;
    height:54px;
    line-height:54px;
    background:#F2F2F2;
    border-bottom:1px solid #ffffff !important;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arpcolumnfooter.selected,
.arptemplate_100 .arpcolumnfooter.selected{
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arppricetablecolumnprice,
.arptemplate_100 .arppricetablecolumnprice{ 
    float:left;
    width:100%;
}

.arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper.hover_effect.no_animation:not(.maincaptioncolumn):hover,
.arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper.hover_effect.no_animation:not(.maincaptioncolumn).column_highlight{
    margin-bottom:0px;
    padding:0px !important;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper.hover_effect.no_animation:not(.maincaptioncolumn):hover .arpplan,
#ArpTemplate_main.arp_front_main_container .arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper.hover_effect.no_animation:not(.maincaptioncolumn).column_highlight .arpplan,
.arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper.hover_effect.no_animation:not(.maincaptioncolumn):hover .arpplan,
.arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper.hover_effect.no_animation:not(.maincaptioncolumn).column_highlight .arpplan{
    margin-top:20px;
    top:-20px;
}

.arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper.hover_effect.no_animation:not(.maincaptioncolumn):hover .arpcolumnfooter,
.arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper.hover_effect.no_animation:not(.maincaptioncolumn).column_highlight .arpcolumnfooter{
    height:130px;
    padding:40px 0 0 0;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arp_column_content_wrapper,
.arptemplate_100 .arp_column_content_wrapper{
    float:left;
    width:100%;
}

.arptemplate_100 .arpcolumnfooter.has_footer_content{
    height:130px;
}

.arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper.hover_effect.no_animation:not(.maincaptioncolumn):hover .arpcolumnfooter.has_footer_content.footer_above_content,
.arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper.hover_effect.no_animation:not(.maincaptioncolumn).column_highlight .arpcolumnfooter.has_footer_content.footer_above_content{
    height:170px !important;
    padding:20px 0 0;
}

.arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper.hover_effect.no_animation:not(.maincaptioncolumn):hover .arpcolumnfooter.has_footer_content.footer_below_content,
.arptemplate_100 #ArpPricingTableColumns .ArpPricingTableColumnWrapper.hover_effect.no_animation:not(.maincaptioncolumn).column_highlight .arpcolumnfooter.has_footer_content.footer_below_content{
    height:170px !important;
    padding:50px 0 0;
}

.arptemplate_100 .arpcolumnfooter.has_footer_content.footer_above_content{
    padding:0px;
}


#ArpTemplate_main.arp_front_main_container .arptemplate_100 .arp_btn_before_content,
.arptemplate_100 .arp_btn_before_content{
    height: 20px !important;
    margin-bottom: 10px !important;
    padding-top: 5px !important;
}


#ArpTemplate_main.arp_front_main_container .arptemplate_100 .toggle_step_first.arp_row_description_text ,
.arptemplate_100 .toggle_step_first.arp_row_description_text ,
#ArpTemplate_main.arp_front_main_container .arptemplate_100 .toggle_step_second.arp_row_description_text,
.arptemplate_100 .toggle_step_second.arp_row_description_text,
#ArpTemplate_main.arp_front_main_container .arptemplate_100 .toggle_step_third.arp_row_description_text,
.arptemplate_100 .toggle_step_third.arp_row_description_text,
#ArpTemplate_main.arp_front_main_container .arptemplate_100 .toggle_step_fourth.arp_row_description_text,
.arptemplate_100 .toggle_step_fourth.arp_row_description_text,
#ArpTemplate_main.arp_front_main_container .arptemplate_100 .tggle_step_fifth.arp_row_description_text,
.arptemplate_100 .toggle_step_fifth.arp_row_description_text
{
    padding-bottom: 5px;
    padding-top: 5px;
}

::i-block-chrome,#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.large.arp_rounded_shortcode,
::i-block-chrome,.arptemplate_100 .rounded_corder.large.arp_rounded_shortcode,
::i-block-chrome,#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.large.arp_rounded_shortcode_solid,
::i-block-chrome,.arptemplate_100 .rounded_corder.large.arp_rounded_shortcode_solid,
::i-block-chrome,#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.large.arp_square_shortcode,
::i-block-chrome,.arptemplate_100 .rounded_corder.large.arp_square_shortcode,
::i-block-chrome,#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.large.arp_square_shortcode_solid,
::i-block-chrome,.arptemplate_100 .rounded_corder.large.arp_square_shortcode_solid,
::i-block-chrome,#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.large.arp_semiround_shortcode,
::i-block-chrome,.arptemplate_100 .rounded_corder.large.arp_semiround_shortcode,
::i-block-chrome,#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.large.arp_semiround_shortcode_solid,
::i-block-chrome,.arptemplate_100 .rounded_corder.large.arp_semiround_shortcode_solid
{
    height: 126px;
}
::i-block-chrome,#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.medium.arp_rounded_shortcode,
::i-block-chrome,.arptemplate_100 .rounded_corder.medium.arp_rounded_shortcode,
::i-block-chrome,#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.medium.arp_rounded_shortcode_solid,
::i-block-chrome,.arptemplate_100 .rounded_corder.medium.arp_rounded_shortcode_solid,
::i-block-chrome,#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.medium.arp_square_shortcode,
::i-block-chrome,.arptemplate_100 .rounded_corder.medium.arp_square_shortcode,
::i-block-chrome,#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.medium.arp_square_shortcode_solid,
::i-block-chrome,.arptemplate_100 .rounded_corder.medium.arp_square_shortcode_solid,
::i-block-chrome,.#ArpTemplate_main.arp_front_main_container arptemplate_100 .rounded_corder.medium.arp_semiround_shortcode,
::i-block-chrome,.arptemplate_100 .rounded_corder.medium.arp_semiround_shortcode,
::i-block-chrome,#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.medium.arp_semiround_shortcode_solid,
::i-block-chrome,.arptemplate_100 .rounded_corder.medium.arp_semiround_shortcode_solid

{
    height: 108px;
    width:  112px;
}
::i-block-chrome,#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.small.arp_rounded_shortcode,
::i-block-chrome,.arptemplate_100 .rounded_corder.small.arp_rounded_shortcode,
::i-block-chrome,#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.small.arp_rounded_shortcode_solid
::i-block-chrome,.arptemplate_100 .rounded_corder.small.arp_rounded_shortcode_solid
::i-block-chrome,#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.small.arp_square_shortcode,
::i-block-chrome,.arptemplate_100 .rounded_corder.small.arp_square_shortcode,
::i-block-chrome,#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.small.arp_square_shortcode_solid
::i-block-chrome,.arptemplate_100 .rounded_corder.small.arp_square_shortcode_solid
::i-block-chrome,#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.small.arp_semiround_shortcode,
::i-block-chrome,.arptemplate_100 .rounded_corder.small.arp_semiround_shortcode,
::i-block-chrome,#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.small.arp_semiround_shortcode_solid,
::i-block-chrome,.arptemplate_100 .rounded_corder.small.arp_semiround_shortcode_solid
{
    height: 91px;
    width: 95px;
}

#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.large.arp_rounded_shortcode,
.arptemplate_100 .rounded_corder.large.arp_rounded_shortcode,
#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.large.arp_rounded_shortcode_solid,
.arptemplate_100 .rounded_corder.large.arp_rounded_shortcode_solid,
#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.arp_square_shortcode.large,
.arptemplate_100 .rounded_corder.arp_square_shortcode.large,
#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.arp_square_shortcode_solid.large,
.arptemplate_100 .rounded_corder.arp_square_shortcode_solid.large,
#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.arp_semiround_shortcode.large,
.arptemplate_100 .rounded_corder.arp_semiround_shortcode.large,
#ArpTemplate_main.arp_front_main_container .arptemplate_100 .rounded_corder.arp_semiround_shortcode_solid.large,
.arptemplate_100 .rounded_corder.arp_semiround_shortcode_solid.large
{
    width: 130px;
}
