/* Gutenber compatibility */
@set bodyFont Roboto; /* Base font */
@set headingFont Montserrat; /* Headline fond */
@set accentColor #FBBD02; /* Main color */

.wp-block {
	/* max-width: 880px; */
	max-width: 1200px !important;
}

/* Backend Editor */
.editor-styles-wrapper, #tinymce.mce-content-body, .wp-block-freeform.block-library-rich-text__tinymce {
	font-size: 15px !important;
	line-height: 1.8;
	font-family: "$(bodyFont)", Arial,sans-serif !important;
	font-weight: 400;
	h1, h2, h3, h4, h5, h6,
	.editor-post-title,
	.editor-post-title__block .editor-post-title__input {
		font-family: "$(headingFont)", Arial,sans-serif;
		line-height: 1.3 !important;
		margin: 0;
		font-weight: bold;
	}
	.wp-block-heading h1, .wp-block-freeform.block-library-rich-text__tinymce h1, h1 {
		font-size: 4em;
		line-height: 1.05 !important;
	}
	.wp-block-heading h2, .wp-block-freeform.block-library-rich-text__tinymce h2, h2 {
		font-size: 3em;
	}
	.wp-block-heading h3, .wp-block-freeform.block-library-rich-text__tinymce h3, h3 {
		font-size: 2.5em;
	}
	.wp-block-heading h4, .wp-block-freeform.block-library-rich-text__tinymce h4, h4 {
		font-size: 2em;
	}
	.wp-block-heading h5, .wp-block-freeform.block-library-rich-text__tinymce h5, h5 {
		font-size: 1.5em;
	}
	.wp-block-heading h6, .wp-block-freeform.block-library-rich-text__tinymce h6, h6 {
		font-size: 1.2em;
	}
	
	.wp-block-heading h1, .wp-block-heading h2, .wp-block-heading h3, .wp-block-heading h4, .wp-block-heading h5, .wp-block-heading h6, 
	.wp-block-freeform.block-library-rich-text__tinymce h1, .wp-block-freeform.block-library-rich-text__tinymce h2, .wp-block-freeform.block-library-rich-text__tinymce h3, .wp-block-freeform.block-library-rich-text__tinymce h4, .wp-block-freeform.block-library-rich-text__tinymce h5, .wp-block-freeform.block-library-rich-text__tinymce h6, 
	h1, h2, h3, h4, h5, h6 {
		padding: 0 0 .4em;
	}
	p {
		font-size: 15px !important;
		line-height: 1.8;
		margin-top: 0;
		margin-bottom: 1em;
		&.has-drop-cap:not(:focus):first-letter {
			font-size: 5.95em;
			line-height: 0.7;
			font-weight: 500;
		}
	}
	address, dl, cite {
		margin: 0 0 1em;
	}
	
	dl {
		margin: 0 0 1em;
		dt {
			font-weight: 600;
			display: inline;
			padding-right: .75em;
		}
		dd {
			display: inline;
			margin: 0;
			&:after {
				content: ' ';
				display: table;
				clear: both;
			}
		}
	}
	strong {
		font-weight: bold;
	}
	kbd {
		background: transparent;
		font-size: 1em;
	}
	.wp-block-cover-image, .wp-block-cover {
		.wp-block-cover-image-text, .wp-block-cover-text, h2 {
			font-size: 2em !important;
			color: #fff;
		}
		.wp-block-cover-image-text
	}
	.alignfull {
		width: 100vw;
		margin-left: -webkit-calc(-50vw + 600px);
		margin-left: -moz-calc(-50vw + 600px);
		margin-left: calc(-50vw + 600px);
		margin-right: -webkit-calc(-50vw + 600px);
		margin-right: -moz-calc(-50vw + 600px);
		margin-right: calc(-50vw + 600px);
		max-width: 100vw;
	}
	/* Blockquote, Pullquote */
	blockquote,
	blockquote.wp-block-quote,
	.wp-block-pullquote blockquote {
		display: block;
		padding: 0 0 15px 3.5em;
		margin: 0;
		font-size: 1.6em;
		font-weight: 400;
		line-height: 1.7em;
		z-index: 1;
		position: relative;
		border: none !important;
		&:after {
			content: " ";
			display: table;
			width: 100%;
			clear: both;
		}
		&:before {
			content: '\f10d';
			color: rgba(0,0,0,.1);
			font-family: FontAwesome;
			display: block;
			font-size: 5em;
			line-height: 1;
			position: absolute;
			top: 0;
			left: 0;
		}
		p {
			font-size: 1em !important;
			&:last-child {
				margin-bottom: 0 !important;
			}
		}
		p code {
			font-size: 1em !important;
		}
		.editor-rich-text {
			z-index: 1;
		}
		& .wp-block-quote__citation {
			font-size: 1rem;
			color: inherit;
			opacity: 0.6;
			text-align: inherit;
		}
		&.is-large, &.is-style-large {
			p {
				font-size: 1.3em !important;
				line-height: 1.6;
			}
			.wp-block-quote__citation {
				font-size: 18px;
			}
		}
	}
	.wp-block-pullquote {
		border: none;
		p {
			margin-bottom: 1em !important;
		}
	}
	.wp-block-pullquote blockquote>.editor-rich-text p {
		font-size: 28px !important;
		line-height: 1.6;
	}
	.wp-block-pullquote.alignleft blockquote>.editor-rich-text p, .wp-block-pullquote.alignright blockquote>.editor-rich-text p {
		font-size: inherit !important;
	}
	figure.wp-block-pullquote {
		margin: 0em 2.5em;
		padding: 3em 0;
	}
	/* Table */
	table {
		width: 100%;
		margin: 0 0 1em 0;
		border-collapse: collapse;
		text-align: initial;
		border: 1px solid rgba(0,0,0,.07);
		td, th {
			padding: 1em;
			border: 1px solid rgba(0,0,0,.07);
		}
		thead {
			th {
				font-weight: 700;
				background-color: $(accentColor);
				color: white;
			}
		}
	}
	.wp-block-table.aligncenter {
		margin: 0 auto;
	}
	.wp-block-table td {
		padding: 0.5em;
		text-align: left;
		font-weight: normal;
		border: 1px solid rgba(0,0,0,.07);
	}
	.wp-block-table th {
		padding: 0.5em;
		text-align: left;
		font-weight: 700;
		border: 1px solid rgba(0,0,0,.07);
	}
	dt {
		font-weight: 600;
	}
	/* Link */
	.editor-rich-text__tinymce a, a {
		text-decoration: none;
		color: #000 !important;
	}
	.mce-content-body.has-large-font-size, .has-large-font-size {
		font-size: 2.2em !important;
		line-height: 1.2;
	}
	.has-medium-font-size {
		font-size: 1.25em !important;
	}
	/* Bullet list */
	ul, ol, li {
		margin: 0 0 15px 5px;
		padding: 0 0 0 5px;
		li, ol, ul {
			margin-bottom: 0;
		}
	}
	.block-library-list .editor-rich-text__tinymce {
		padding-left: 1.5em;
		margin: 0 0 1em;
	}
	/* Code */
	code {
		background-color: transparent !important;
	}
	/* Preformatted */
	pre, .wp-block-preformatted pre, .wp-block-verse pre, pre.wp-block-verse {
		margin: 0 0 30px;
		white-space: pre-wrap;
		padding: 20px;
		border: 1px solid rgba(0,0,0,.1);
		font-family: monospace;
	}
	cite {
		font-size: .6em;
		font-style: normal;
		font-family: "$(headingFont)", Arial,sans-serif;
		font-weight: normal;
	}
	small {
		font-size: 13px;
	}
	.wp-caption-text {
		font-size: .9em;
		line-height: 1.7;
	}
	.wp-block-categories {
		display: inline-block;
	}
	.wp-block-pullquote cite, 
	.wp-block-pullquote footer, 
	.wp-block-pullquote__citation {
		font-size: 1rem;
		text-transform: inherit;
		opacity: 0.6;
	}
	/* Separator */
	hr.wp-block-separator {
		cursor: default;
		margin: 1em auto;
		max-width: 100px;
		border-bottom: 2px solid #8f98a1;
		&.is-style-wide {
			max-width: 100%;
			border: none;
			border-bottom: 1px solid #8f98a1;
		}
		&.is-style-dots {
			background: 0 0;
			border: none;
			text-align: center;
			max-width: none;
			line-height: 1;
			height: auto;
			&:before {
				content: "\00b7 \00b7 \00b7";
				color: #191e23;
				font-size: 20px;
				letter-spacing: 2em;
				padding-left: 2em;
				font-family: serif;
			}
		}
	}
	hr {
		margin: 0;
		max-width: 100%;
		border-bottom: 1px solid #8f98a1;
	}
	/* Button */
	.wp-block-button {
		.wp-block-button__link {
			color: #fff;
			font-size: .8em;
			padding: .8em 2.2em;
			font-weight: 500;
			transition: all 200ms ease-in-out;
			&:hover {
				color: $(accentColor);
			}
		}
	}
	/* Columns */
	.wp-block-text-columns, .wp-block-text-columns.aligncenter {
		text-align: center;
	}
	/* Gallery */
	.wp-block-gallery {
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		padding: 0;
		.blocks-gallery-item {
			width: calc(50% - 16px);
			list-style: none;
			display: flex;
			flex-grow: 1;
			flex-direction: column;
			justify-content: center;
			position: relative;
			margin: 0 16px 16px 0;
			figure {
				margin: 0;
				height: 100%;
				display: flex;
				align-items: flex-end;
				justify-content: flex-start;
			}
		}
	}
	.is-selected .wp-block-gallery .blocks-gallery-image:nth-last-child(2), .is-selected .wp-block-gallery .blocks-gallery-item:nth-last-child(2), .is-typing .wp-block-gallery .blocks-gallery-image:nth-last-child(2), .is-typing .wp-block-gallery .blocks-gallery-item:nth-last-child(2) {
		margin-right: 16px;
	}
	.wp-block-image .aligncenter>figcaption, .wp-block-image .alignleft>figcaption, .wp-block-image .alignright>figcaption, .wp-block-image.is-resized>figcaption {
		display: block;
	}
	/* Block margins */
	.wp-block .editor-block-list__block-edit {
		margin-top: 16px !important;
		margin-bottom: 16px !important;
	}
	/* Latest post */
	.wp-block-latest-posts.is-grid {
		margin: 0 0 1em 1em;
	}
}

#tinymce.mce-content-body hr {
	max-width: 100%;
	border: 0.5px solid #8f98a1;
}
